@import url("https://fonts.googleapis.com/css?family=Khand|Roboto|Source+Sans+Pro");
@font-face {
  font-family: 'montserratblack';
  src: url("../fonts/montserrat-black-webfont.woff2") format("woff2"), url("../fonts/montserrat-black-webfont.woff") format("woff"), url("../fonts/montserrat-black-webfont.ttf") format("truetype"), url("../fonts/montserrat-black-webfont.svg#montserratblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratthin';
  src: url("../fonts/montserrat-thin-webfont.woff2") format("woff2"), url("../fonts/montserrat-thin-webfont.woff") format("woff"), url("../fonts/montserrat-thin-webfont.ttf") format("truetype"), url("../fonts/montserrat-thin-webfont.svg#montserratthin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dk_lemon_yellow_sunregular';
  src: url("../fonts/dk_lemon_yellow_sun-webfont.woff2") format("woff2"), url("../fonts/dk_lemon_yellow_sun-webfont.woff") format("woff"), url("../fonts/dk_lemon_yellow_sun-webfont.ttf") format("truetype"), url("../fonts/dk_lemon_yellow_sun-webfont.svg#dk_lemon_yellow_sunregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.clearfix {
  clear: both; }

body {
  font-family: 'montserratblack';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: 'montserratblack';
  font-size: 2em; }

.contenido {
  width: 960px;
  height: 356px;
  margin: 0 auto; }

.header {
  width: 960px;
  height: 356px;
  background: url(../img/01.jpg) no-repeat; }
  .header .caja {
    padding: 30px 55px; }

.concept .concept-foto,
.concept .section-texto {
  height: auto;
  float: left; }
.concept .concept-foto img {
  display: block; }
.concept .section-texto {
  padding: 10px 57px; }
  .concept .section-texto .sector {
    margin-top: 80px; }

.nubes {
  background: #3669A3 url(../img/bg-nubes.png) no-repeat; }
  .nubes .nubes-block {
    padding: 55px; }
  .nubes .line-box-box {
    margin-top: 77px; }
    .nubes .line-box-box .line-box .line-box-item-titulo, .nubes .line-box-box .line-box.nb .line-box-item-titulo {
      background-color: #BDD44D;
      color: #ffffff;
      text-align: center;
      height: 45px;
      line-height: 45px; }
    .nubes .line-box-box .line-box.nb {
      margin-right: 0; }
    .nubes .line-box-box .line-box-item-texto {
      background-color: #305D91;
      padding: 24px 22px; }

.video img {
  width: 100%; }
.video .texto-caja {
  padding: 10px 57px;
  margin-top: 70px; }

.mapa #mapa img {
  width: 100%; }

.video-left img {
  width: 100%; }
.video-left .video-left-texto-center {
  padding: 10px 45px 10px 31px;
  margin-top: 50px; }

.seguridad {
  background: #3669A3 url(../img/bg-nubes.png) no-repeat; }
  .seguridad .seguridad-block {
    padding: 55px; }
    .seguridad .seguridad-block .texto-seguridad-img {
      text-align: right; }

.metroplanes {
  padding: 55px 55px 0px 55px; }
  .metroplanes .bgc {
    background-color: #3669A3; }
  .metroplanes .metroplanes-box {
    padding: 55px 50px; }
    .metroplanes .metroplanes-box .box-metroplanes {
      position: relative; }
      .metroplanes .metroplanes-box .box-metroplanes:after {
        content: "";
        width: 1px;
        position: absolute;
        background: red;
        height: 100%;
        top: 10px;
        left: 50%; }
  .metroplanes .data-metroplan {
    margin-top: 55px; }

.contenido-metroplanes ul.items-metroplanes {
  margin: 0;
  padding: 0;
  width: 80%;
  float: right; }
  .contenido-metroplanes ul.items-metroplanes li {
    display: block;
    color: #9B9B9B;
    font-size: 12px;
    font-family: 'montserratregular', arial;
    margin-bottom: 16px; }
  .contenido-metroplanes ul.items-metroplanes .ico-1 {
    background: url(../img/icon-1.jpg) no-repeat left center;
    padding-left: 48px;
    height: 38px;
    line-height: 16px; }
  .contenido-metroplanes ul.items-metroplanes .ico-2 {
    background: url(../img/icon-2.jpg) no-repeat left center;
    padding-left: 48px;
    height: 38px;
    line-height: 38px; }
  .contenido-metroplanes ul.items-metroplanes .ico-3 {
    background: url(../img/icon-3.jpg) no-repeat left center;
    padding-left: 48px;
    height: 38px;
    line-height: 38px; }
  .contenido-metroplanes ul.items-metroplanes .ico-4 {
    background: url(../img/icon-4.jpg) no-repeat left center;
    padding-left: 48px;
    height: 38px;
    line-height: 38px; }
  .contenido-metroplanes ul.items-metroplanes .ico-5 {
    background: url(../img/icon-5.jpg) no-repeat left center;
    padding-left: 48px;
    height: 38px;
    line-height: 38px; }

.fluid-gray {
  background-color: #EBEBEB; }
  .fluid-gray .caja-tabla {
    border: 3px solid #ffffff; }
    .fluid-gray .caja-tabla h2 {
      color: #3669A3;
      font-family: 'montserratbold', arial;
      text-align: center;
      font-size: 25px;
      margin: 45px auto;
      width: 50%; }
    .fluid-gray .caja-tabla table {
      width: 95%;
      margin: 0 auto;
      border-radius: 10px; }
      .fluid-gray .caja-tabla table .cab {
        background-color: #BDD44D; }

.pagos .espace {
  margin-bottom: 100px; }
.pagos .listas-pago {
  padding: 25px 30px;
  border: 1px solid #3669A3; }
  .pagos .listas-pago .titulo-lista {
    color: #3669A3;
    font-family: 'montserratbold', arial;
    font-size: 12px;
    margin-bottom: 30px; }
  .pagos .listas-pago .presencial {
    margin: 0;
    padding: 0; }
    .pagos .listas-pago .presencial li {
      font-size: 12px;
      color: #3669A3;
      font-family: 'montserratbold', arial;
      margin-bottom: 15px; }
  .pagos .listas-pago .listarespuesta {
    margin: 25px 0 0 0;
    padding: 0; }
    .pagos .listas-pago .listarespuesta li {
      font-family: 'montserratregular',arial;
      font-size: 10px;
      color: #9B9B9B;
      text-align: left;
      margin-bottom: 15px;
      line-height: 14px; }
      .pagos .listas-pago .listarespuesta li:last-child {
        margin-bottom: 0; }
  .pagos .listas-pago .internet {
    margin: 0;
    padding: 0; }
    .pagos .listas-pago .internet li {
      margin-bottom: 20px; }
      .pagos .listas-pago .internet li a {
        color: #46A1DB;
        font-family: 'montserratregular',arial;
        font-size: 12px;
        text-decoration: underline; }
  .pagos .listas-pago .automatico {
    margin: 0;
    padding: 0; }
    .pagos .listas-pago .automatico li {
      font-size: 12px;
      color: #3669A3;
      font-family: 'montserratbold', arial;
      margin-bottom: 15px; }
      .pagos .listas-pago .automatico li:last-child {
        margin-bottom: 0; }
    .pagos .listas-pago .automatico .links-automata {
      color: #46A1DB;
      font-family: 'montserratregular',arial;
      font-size: 12px;
      text-decoration: underline; }

.antetitulo {
  font-family: 'montserratblack',sans-serif;
  color: #cecece;
  font-size: 12px;
  border-bottom: 1px solid #cecece;
  margin: 15px 0 30px 0;
  padding-bottom: 10px; }

.antetitulo-foto {
  font-family: 'montserratblack',sans-serif;
  color: #ffffff;
  font-size: 12px;
  border-bottom: 1px solid #ffffff;
  margin: 15px 0 30px 0;
  padding-bottom: 10px; }

.metroplanes, .metroplan, .header, .concept, .video, .mapa, .video-left, .seguridad, .contacto, .contenido-metroplanes, .tarifas, .pagos {
  /* botones */ }
  .metroplanes .texto-primario, .metroplan .texto-primario, .header .texto-primario, .concept .texto-primario, .video .texto-primario, .mapa .texto-primario, .video-left .texto-primario, .seguridad .texto-primario, .contacto .texto-primario, .contenido-metroplanes .texto-primario, .tarifas .texto-primario, .pagos .texto-primario {
    font-family: 'montserratlight',sans-serif;
    color: #9B9B9B;
    margin-bottom: 25px;
    font-size: 12px; }
  .metroplanes .texto-primario-blanco, .metroplan .texto-primario-blanco, .header .texto-primario-blanco, .concept .texto-primario-blanco, .video .texto-primario-blanco, .mapa .texto-primario-blanco, .video-left .texto-primario-blanco, .seguridad .texto-primario-blanco, .contacto .texto-primario-blanco, .contenido-metroplanes .texto-primario-blanco, .tarifas .texto-primario-blanco, .pagos .texto-primario-blanco {
    font-family: 'montserratlight',sans-serif;
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 12px; }
  .metroplanes .texto-seguridad, .metroplan .texto-seguridad, .header .texto-seguridad, .concept .texto-seguridad, .video .texto-seguridad, .mapa .texto-seguridad, .video-left .texto-seguridad, .seguridad .texto-seguridad, .contacto .texto-seguridad, .contenido-metroplanes .texto-seguridad, .tarifas .texto-seguridad, .pagos .texto-seguridad {
    font-family: 'montserratlight',sans-serif;
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 15px; }
  .metroplanes .titulo-fondo-verde, .metroplan .titulo-fondo-verde, .header .titulo-fondo-verde, .concept .titulo-fondo-verde, .video .titulo-fondo-verde, .mapa .titulo-fondo-verde, .video-left .titulo-fondo-verde, .seguridad .titulo-fondo-verde, .contacto .titulo-fondo-verde, .contenido-metroplanes .titulo-fondo-verde, .tarifas .titulo-fondo-verde, .pagos .titulo-fondo-verde {
    font-family: 'montserratbold',sans-serif;
    color: #fff;
    padding: 10px 5px;
    background-color: #BDD44D;
    font-size: 20px;
    display: inline; }
  .metroplanes .titulo-fondo-cyan, .metroplan .titulo-fondo-cyan, .header .titulo-fondo-cyan, .concept .titulo-fondo-cyan, .video .titulo-fondo-cyan, .mapa .titulo-fondo-cyan, .video-left .titulo-fondo-cyan, .seguridad .titulo-fondo-cyan, .contacto .titulo-fondo-cyan, .contenido-metroplanes .titulo-fondo-cyan, .tarifas .titulo-fondo-cyan, .pagos .titulo-fondo-cyan {
    font-family: 'montserratbold',sans-serif;
    color: #fff;
    padding: 15px 5px;
    margin: 12px 0 35px 0;
    display: inline-block;
    font-size: 20px;
    background-color: #46A1DB; }
  .metroplanes .texto-legal, .metroplan .texto-legal, .header .texto-legal, .concept .texto-legal, .video .texto-legal, .mapa .texto-legal, .video-left .texto-legal, .seguridad .texto-legal, .contacto .texto-legal, .contenido-metroplanes .texto-legal, .tarifas .texto-legal, .pagos .texto-legal {
    font-family: 'montserratlight',sans-serif;
    color: #9B9B9B;
    margin-bottom: 25px;
    font-size: 9px; }
  .metroplanes .btn-primario, .metroplan .btn-primario, .header .btn-primario, .concept .btn-primario, .video .btn-primario, .mapa .btn-primario, .video-left .btn-primario, .seguridad .btn-primario, .contacto .btn-primario, .contenido-metroplanes .btn-primario, .tarifas .btn-primario, .pagos .btn-primario {
    background: #BDD44D;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    padding: 5px 35px;
    color: #ffffff; }

.mapa .texto-primario {
  color: #3669A3;
  font-size: 15px;
  font-family: 'montserratbold',sans-serif; }

.nubes {
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 13px; }

.contenido-metroplanes .metroplanes-cuadro {
  padding: 55px; }
.contenido-metroplanes .tabla-metroplanes {
  color: #fff;
  padding: 55px; }

.container {
  width: 960px !important; }
