@import url("https://fonts.googleapis.com/css?family=Khand:400,600,700|Roboto:400,700,700i,900|Source+Sans+Pro:400,600,700");
@font-face {
  font-family: 'montserratblack';
  src: url("../fonts/montserrat-black-webfont.woff2") format("woff2"), url("../fonts/montserrat-black-webfont.woff") format("woff"), url("../fonts/montserrat-black-webfont.ttf") format("truetype"), url("../fonts/montserrat-black-webfont.svg#montserratblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratthin';
  src: url("../fonts/montserrat-thin-webfont.woff2") format("woff2"), url("../fonts/montserrat-thin-webfont.woff") format("woff"), url("../fonts/montserrat-thin-webfont.ttf") format("truetype"), url("../fonts/montserrat-thin-webfont.svg#montserratthin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dk_lemon_yellow_sunregular';
  src: url("../fonts/dk_lemon_yellow_sun-webfont.woff2") format("woff2"), url("../fonts/dk_lemon_yellow_sun-webfont.woff") format("woff"), url("../fonts/dk_lemon_yellow_sun-webfont.ttf") format("truetype"), url("../fonts/dk_lemon_yellow_sun-webfont.svg#dk_lemon_yellow_sunregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.clearfix {
  clear: both; }

img, video {
  display: block; }

body {
  font-family: 'montserratblack';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: 'montserratblack';
  font-size: 2em; }

.contenido {
  width: 960px;
  height: 356px;
  margin: 0 auto; }

.header {
  width: 960px;
  height: 356px;
  background: url(../img/01.jpg) no-repeat; }
  .header .caja {
    padding: 30px 55px; }

.concept .concept-foto,
.concept .section-texto {
  height: auto;
  float: left; }
.concept .concept-foto img {
  display: block; }
.concept .section-texto {
  padding: 10px 57px; }
  .concept .section-texto .sector {
    margin-top: 80px; }

.nubes {
  background: #3669A3 url(../img/bg-nubes.png) no-repeat; }
  .nubes .nubes-block {
    padding: 55px; }
    .nubes .nubes-block .centroNatural {
      font-family: 'montserratregular',arial;
      font-size: 15px;
      width: 40%;
      margin: 0 auto 25px auto; }
      .nubes .nubes-block .centroNatural span {
        font-family: 'montserratblack', arial; }
    .nubes .nubes-block .centerC {
      text-align: center;
      line-height: 18px; }
  .nubes .line-box-box {
    margin-top: 77px; }
    .nubes .line-box-box .line-box .line-box-item-titulo, .nubes .line-box-box .line-box.nb .line-box-item-titulo {
      background-color: #BDD44D;
      color: #ffffff;
      text-align: center;
      height: 45px;
      line-height: 45px;
      font-size: 17px;
      font-family: 'montserratblack', arial; }
    .nubes .line-box-box .line-box.nb {
      margin-right: 0; }
    .nubes .line-box-box .line-box-item-texto {
      background-color: #305D91;
      padding: 24px 22px;
      font-family: 'montserratregular',arial;
      font-size: 12px;
      line-height: 18px;
      height: 120px;
      text-align: center; }
  .nubes .beneficios {
    margin-top: 50px;
    margin-bottom: 100px; }
    .nubes .beneficios .imgM {
      margin-right: 20px; }
    .nubes .beneficios .beneBox {
      width: 70%;
      text-align: left;
      float: right; }
      .nubes .beneficios .beneBox h3 {
        font-family: 'montserratblack', arial;
        font-size: 14px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 15px; }
      .nubes .beneficios .beneBox p {
        font-family: 'montserratregular',arial;
        font-size: 12px;
        text-align: left;
        line-height: 16px; }

.video img {
  width: 100%; }
.video .texto-caja {
  padding: 10px 57px;
  margin-top: 70px; }
.video .calidad {
  margin: 0;
  padding: 0; }
  .video .calidad li {
    color: #9B9B9B;
    font-family: 'montserratbold',sans-serif;
    font-size: 11px;
    text-align: left;
    background: url(../img/arrow-green-left.png) no-repeat left center;
    padding-left: 25px;
    padding-top: 1px;
    margin-bottom: 12px; }

.mapa #mapa img {
  width: 100%; }

.video-left img {
  width: 100%; }
.video-left .video-left-texto-center {
  padding: 10px 45px 10px 31px;
  margin-top: 50px; }

.seguridad {
  background: #3669A3 url(../img/bg-nubes.png) no-repeat; }
  .seguridad .seguridad-block {
    padding: 55px; }
    .seguridad .seguridad-block .texto-seguridad-img {
      text-align: right; }
    .seguridad .seguridad-block .lh {
      font-family: 'montserratregular',arial;
      line-height: 21px;
      font-size: 15px; }
      .seguridad .seguridad-block .lh span {
        font-family: 'montserratblack', arial; }
    .seguridad .seguridad-block .texto-primario-blanco {
      margin: 0;
      padding: 0; }
      .seguridad .seguridad-block .texto-primario-blanco li {
        font-family: 'montserratregular',arial;
        font-size: 12px;
        text-align: left;
        line-height: 15px;
        margin-bottom: 17px;
        color: #ffffff;
        padding-left: 25px;
        background: url(../img/arrow-right.png) no-repeat left top; }
        .seguridad .seguridad-block .texto-primario-blanco li span {
          font-family: 'montserratblack', arial; }

.metroplanes {
  padding: 55px 55px 0px 55px; }
  .metroplanes .bgc {
    background-color: #3669A3; }
  .metroplanes h1 {
    color: #ffffff;
    text-align: right; }
    .metroplanes h1 span {
      display: block; }
  .metroplanes .metroplanes-box {
    padding: 55px 50px; }
    .metroplanes .metroplanes-box .box-metroplanes {
      position: relative;
      text-align: center; }
      .metroplanes .metroplanes-box .box-metroplanes .logs-metro {
        text-align: center;
        margin-bottom: 48px; }
      .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .btn-primario {
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700 !important; }
      .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes p {
        font-family: 'montserratblack';
        margin-bottom: 15px; }
      .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans {
        margin: 0;
        padding: 0; }
        .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans li {
          display: inline-block;
          width: 33.33333333%;
          float: left;
          background-color: #3E79BD;
          padding: 10px 8px;
          font-size: 14px;
          height: 100px;
          font-family: 'montserratblack', arial;
          position: relative;
          text-transform: uppercase; }
          .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans li span {
            display: block;
            font-family: 'montserratlight';
            text-transform: uppercase;
            margin: 8px 0; }
          .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans li:nth-child(2) {
            background-color: #2F5C8F; }
          .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans li p {
            font-family: 'montserratlight';
            text-transform: uppercase; }
            .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans li p span {
              font-family: 'montserratblack', arial;
              display: inline-block; }
        .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans .gifcardL {
          padding-top: 24px; }
        .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans span.calefa {
          font-size: 11px;
          position: relative;
          top: -10px; }
        .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans .arrow:after {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(62, 121, 189, 0);
          border-left-color: #3E79BD;
          border-width: 10px;
          margin-top: -10px;
          z-index: 99; }
          .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans .arrow:after:last-child {
            display: none; }
        .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans .arrowB {
          padding-top: 20px; }
          .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans .arrowB:after {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(62, 121, 189, 0);
            border-left-color: #2F5C8F;
            border-width: 10px;
            margin-top: -10px;
            z-index: 99; }
            .metroplanes .metroplanes-box .box-metroplanes .box-metroplanes-planes .plans .arrowB:after:last-child {
              display: none; }
  .metroplanes .data-metroplan {
    margin-top: 55px; }

.contenido-metroplanes ul.items-metroplanes {
  margin: 0;
  padding: 0;
  width: 80%;
  float: right; }
  .contenido-metroplanes ul.items-metroplanes li {
    display: block;
    color: #9B9B9B;
    font-size: 12px;
    font-family: 'montserratregular', arial;
    margin-bottom: 16px; }
  .contenido-metroplanes ul.items-metroplanes .ico-1 {
    background: url(../img/icon-1.jpg) no-repeat left center;
    padding-left: 48px;
    height: 38px;
    line-height: 16px; }
  .contenido-metroplanes ul.items-metroplanes .ico-2 {
    background: url(../img/icon-2.jpg) no-repeat left center;
    padding-left: 48px;
    height: 38px;
    line-height: 38px; }
  .contenido-metroplanes ul.items-metroplanes .ico-3 {
    background: url(../img/icon-3.jpg) no-repeat left center;
    padding-left: 48px;
    height: 38px;
    line-height: 38px; }
  .contenido-metroplanes ul.items-metroplanes .ico-4 {
    background: url(../img/icon-4.jpg) no-repeat left center;
    padding-left: 48px;
    height: 38px;
    line-height: 38px; }
  .contenido-metroplanes ul.items-metroplanes .ico-5 {
    background: url(../img/icon-5.jpg) no-repeat left center;
    padding-left: 48px;
    height: 38px;
    line-height: 38px; }

.fluid-gray {
  background-color: #EBEBEB; }
  .fluid-gray .caja-tabla {
    border: 3px solid #ffffff; }
    .fluid-gray .caja-tabla h2 {
      color: #3669A3;
      font-family: 'montserratbold', arial;
      text-align: center;
      font-size: 25px;
      margin: 45px auto;
      width: 50%; }
    .fluid-gray .caja-tabla table {
      width: 95%;
      margin: 0 auto;
      border-radius: 10px; }
      .fluid-gray .caja-tabla table .cab {
        background-color: #BDD44D; }

.pagos .espace {
  margin-bottom: 100px; }
.pagos .listas-pago {
  padding: 25px 30px;
  border: 1px solid #3669A3; }
  .pagos .listas-pago .titulo-lista {
    color: #3669A3;
    font-family: 'montserratbold', arial;
    font-size: 12px;
    margin-bottom: 30px; }
  .pagos .listas-pago .presencial {
    margin: 0;
    padding: 0; }
    .pagos .listas-pago .presencial li {
      font-size: 12px;
      color: #3669A3;
      font-family: 'montserratbold', arial;
      margin-bottom: 15px; }
  .pagos .listas-pago .listarespuesta {
    margin: 25px 0 0 0;
    padding: 0; }
    .pagos .listas-pago .listarespuesta li {
      font-family: 'montserratregular',arial;
      font-size: 10px;
      color: #9B9B9B;
      text-align: left;
      margin-bottom: 15px;
      line-height: 14px; }
      .pagos .listas-pago .listarespuesta li:last-child {
        margin-bottom: 0; }
  .pagos .listas-pago .internet {
    margin: 0;
    padding: 0; }
    .pagos .listas-pago .internet li {
      margin-bottom: 20px; }
      .pagos .listas-pago .internet li a {
        color: #46A1DB;
        font-family: 'montserratregular',arial;
        font-size: 12px;
        text-decoration: underline; }
  .pagos .listas-pago .automatico {
    margin: 0;
    padding: 0; }
    .pagos .listas-pago .automatico li {
      font-size: 12px;
      color: #3669A3;
      font-family: 'montserratbold', arial;
      margin-bottom: 15px; }
      .pagos .listas-pago .automatico li:last-child {
        margin-bottom: 0; }
    .pagos .listas-pago .automatico .links-automata {
      color: #46A1DB;
      font-family: 'montserratregular',arial;
      font-size: 12px;
      text-decoration: underline; }

.metroambientalistas {
  background: url(../img/nino.jpg) no-repeat;
  position: relative;
  height: 876px;
  z-index: 0;
  padding: 55px; }
  .metroambientalistas:after {
    content: "";
    width: 510px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(54, 105, 163, 0.4); }
  .metroambientalistas ul.social {
    margin: 0;
    padding: 0; }
    .metroambientalistas ul.social li {
      background: #F9F9F9;
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.21);
      border-radius: 4.8px; }

.antetitulo {
  font-family: 'montserratblack',sans-serif;
  color: #cecece;
  font-size: 12px;
  border-bottom: 1px solid #cecece;
  margin: 15px 0 30px 0;
  padding-bottom: 10px; }

.antetitulo-foto {
  font-family: 'montserratblack',sans-serif;
  color: #ffffff;
  font-size: 12px;
  border-bottom: 1px solid #ffffff;
  margin: 15px 0 30px 0;
  padding-bottom: 10px; }

.metroplanes, .metroplan, .header, .concept, .video, .mapa, .video-left, .seguridad, .contacto, .contenido-metroplanes, .tarifas, .pagos {
  /* botones */ }
  .metroplanes .texto-primario, .metroplan .texto-primario, .header .texto-primario, .concept .texto-primario, .video .texto-primario, .mapa .texto-primario, .video-left .texto-primario, .seguridad .texto-primario, .contacto .texto-primario, .contenido-metroplanes .texto-primario, .tarifas .texto-primario, .pagos .texto-primario {
    font-family: 'montserratlight',sans-serif;
    color: #9B9B9B;
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 17px; }
  .metroplanes .texto-primario-blanco, .metroplan .texto-primario-blanco, .header .texto-primario-blanco, .concept .texto-primario-blanco, .video .texto-primario-blanco, .mapa .texto-primario-blanco, .video-left .texto-primario-blanco, .seguridad .texto-primario-blanco, .contacto .texto-primario-blanco, .contenido-metroplanes .texto-primario-blanco, .tarifas .texto-primario-blanco, .pagos .texto-primario-blanco {
    font-family: 'montserratlight',sans-serif;
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 17px; }
  .metroplanes .texto-seguridad, .metroplan .texto-seguridad, .header .texto-seguridad, .concept .texto-seguridad, .video .texto-seguridad, .mapa .texto-seguridad, .video-left .texto-seguridad, .seguridad .texto-seguridad, .contacto .texto-seguridad, .contenido-metroplanes .texto-seguridad, .tarifas .texto-seguridad, .pagos .texto-seguridad {
    font-family: 'montserratlight',sans-serif;
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 17px; }
  .metroplanes .titulo-fondo-verde, .metroplan .titulo-fondo-verde, .header .titulo-fondo-verde, .concept .titulo-fondo-verde, .video .titulo-fondo-verde, .mapa .titulo-fondo-verde, .video-left .titulo-fondo-verde, .seguridad .titulo-fondo-verde, .contacto .titulo-fondo-verde, .contenido-metroplanes .titulo-fondo-verde, .tarifas .titulo-fondo-verde, .pagos .titulo-fondo-verde {
    font-family: 'montserratbold',sans-serif;
    color: #fff;
    padding: 10px 5px;
    background-color: #BDD44D;
    font-size: 20px;
    display: inline; }
  .metroplanes .titulo-fondo-cyan, .metroplan .titulo-fondo-cyan, .header .titulo-fondo-cyan, .concept .titulo-fondo-cyan, .video .titulo-fondo-cyan, .mapa .titulo-fondo-cyan, .video-left .titulo-fondo-cyan, .seguridad .titulo-fondo-cyan, .contacto .titulo-fondo-cyan, .contenido-metroplanes .titulo-fondo-cyan, .tarifas .titulo-fondo-cyan, .pagos .titulo-fondo-cyan {
    font-family: 'montserratbold',sans-serif;
    color: #fff;
    padding: 13px 5px;
    margin: 12px 0 35px 0;
    display: inline-block;
    font-size: 20px;
    background-color: #46A1DB; }
  .metroplanes .texto-legal, .metroplan .texto-legal, .header .texto-legal, .concept .texto-legal, .video .texto-legal, .mapa .texto-legal, .video-left .texto-legal, .seguridad .texto-legal, .contacto .texto-legal, .contenido-metroplanes .texto-legal, .tarifas .texto-legal, .pagos .texto-legal {
    font-family: 'montserratlight',sans-serif;
    color: #9B9B9B;
    margin-bottom: 25px;
    font-size: 9px; }
  .metroplanes .subtitulo-uno, .metroplanes .texto-prevolante, .metroplan .subtitulo-uno, .metroplan .texto-prevolante, .header .subtitulo-uno, .header .texto-prevolante, .concept .subtitulo-uno, .concept .texto-prevolante, .video .subtitulo-uno, .video .texto-prevolante, .mapa .subtitulo-uno, .mapa .texto-prevolante, .video-left .subtitulo-uno, .video-left .texto-prevolante, .seguridad .subtitulo-uno, .seguridad .texto-prevolante, .contacto .subtitulo-uno, .contacto .texto-prevolante, .contenido-metroplanes .subtitulo-uno, .contenido-metroplanes .texto-prevolante, .tarifas .subtitulo-uno, .tarifas .texto-prevolante, .pagos .subtitulo-uno, .pagos .texto-prevolante {
    font-family: 'montserratbold',sans-serif;
    font-size: 25px;
    color: #3669A3;
    text-align: center; }
  .metroplanes .texto-prevolante, .metroplan .texto-prevolante, .header .texto-prevolante, .concept .texto-prevolante, .video .texto-prevolante, .mapa .texto-prevolante, .video-left .texto-prevolante, .seguridad .texto-prevolante, .contacto .texto-prevolante, .contenido-metroplanes .texto-prevolante, .tarifas .texto-prevolante, .pagos .texto-prevolante {
    color: #9B9B9B; }
  .metroplanes .btn-primario, .metroplan .btn-primario, .header .btn-primario, .concept .btn-primario, .video .btn-primario, .mapa .btn-primario, .video-left .btn-primario, .seguridad .btn-primario, .contacto .btn-primario, .contenido-metroplanes .btn-primario, .tarifas .btn-primario, .pagos .btn-primario {
    background: #BDD44D;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    padding: 15px 35px;
    color: #ffffff;
    display: block;
    width: 100%;
    font-family: 'Roboto',sans-serif;
    font-weight: 800;
    text-align: center; }
  .metroplanes input[type="submit"].btn-enviar, .metroplan input[type="submit"].btn-enviar, .header input[type="submit"].btn-enviar, .concept input[type="submit"].btn-enviar, .video input[type="submit"].btn-enviar, .mapa input[type="submit"].btn-enviar, .video-left input[type="submit"].btn-enviar, .seguridad input[type="submit"].btn-enviar, .contacto input[type="submit"].btn-enviar, .contenido-metroplanes input[type="submit"].btn-enviar, .tarifas input[type="submit"].btn-enviar, .pagos input[type="submit"].btn-enviar {
    background: none;
    border: 0;
    color: inherit;
    background: #BDD44D;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    padding: 5px 35px;
    color: #ffffff; }
  .metroplanes .caja-tabla .table, .metroplan .caja-tabla .table, .header .caja-tabla .table, .concept .caja-tabla .table, .video .caja-tabla .table, .mapa .caja-tabla .table, .video-left .caja-tabla .table, .seguridad .caja-tabla .table, .contacto .caja-tabla .table, .contenido-metroplanes .caja-tabla .table, .tarifas .caja-tabla .table, .pagos .caja-tabla .table {
    text-align: center;
    background-color: #3669A3; }
    .metroplanes .caja-tabla .table tr th, .metroplan .caja-tabla .table tr th, .header .caja-tabla .table tr th, .concept .caja-tabla .table tr th, .video .caja-tabla .table tr th, .mapa .caja-tabla .table tr th, .video-left .caja-tabla .table tr th, .seguridad .caja-tabla .table tr th, .contacto .caja-tabla .table tr th, .contenido-metroplanes .caja-tabla .table tr th, .tarifas .caja-tabla .table tr th, .pagos .caja-tabla .table tr th {
      font-size: 12px;
      text-align: center; }
    .metroplanes .caja-tabla .table tr th.primero, .metroplan .caja-tabla .table tr th.primero, .header .caja-tabla .table tr th.primero, .concept .caja-tabla .table tr th.primero, .video .caja-tabla .table tr th.primero, .mapa .caja-tabla .table tr th.primero, .video-left .caja-tabla .table tr th.primero, .seguridad .caja-tabla .table tr th.primero, .contacto .caja-tabla .table tr th.primero, .contenido-metroplanes .caja-tabla .table tr th.primero, .tarifas .caja-tabla .table tr th.primero, .pagos .caja-tabla .table tr th.primero {
      border-radius: 10px 0 0 0; }
    .metroplanes .caja-tabla .table tr th.ultimo, .metroplan .caja-tabla .table tr th.ultimo, .header .caja-tabla .table tr th.ultimo, .concept .caja-tabla .table tr th.ultimo, .video .caja-tabla .table tr th.ultimo, .mapa .caja-tabla .table tr th.ultimo, .video-left .caja-tabla .table tr th.ultimo, .seguridad .caja-tabla .table tr th.ultimo, .contacto .caja-tabla .table tr th.ultimo, .contenido-metroplanes .caja-tabla .table tr th.ultimo, .tarifas .caja-tabla .table tr th.ultimo, .pagos .caja-tabla .table tr th.ultimo {
      border-radius: 0 10px 0 0; }
    .metroplanes .caja-tabla .table tr td, .metroplan .caja-tabla .table tr td, .header .caja-tabla .table tr td, .concept .caja-tabla .table tr td, .video .caja-tabla .table tr td, .mapa .caja-tabla .table tr td, .video-left .caja-tabla .table tr td, .seguridad .caja-tabla .table tr td, .contacto .caja-tabla .table tr td, .contenido-metroplanes .caja-tabla .table tr td, .tarifas .caja-tabla .table tr td, .pagos .caja-tabla .table tr td {
      font-size: 14px;
      font-family: 'Montserrat', sans-serif; }

.tarifas .caja-tablas {
  border: 1px solid #BDD44D;
  padding: 20px; }
  .tarifas .caja-tablas .table {
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    background-color: #3669A3; }
    .tarifas .caja-tablas .table th {
      background-color: #BDD44D;
      font-size: 12px;
      text-align: center; }
    .tarifas .caja-tablas .table th.primero {
      border-radius: 10px 10px 0 0; }
    .tarifas .caja-tablas .table th.ultimo {
      border-radius: 0 10px 0 0; }
    .tarifas .caja-tablas .table td {
      font-size: 14px;
      font-family: 'Montserrat', sans-serif; }

.mapa .texto-primario {
  color: #3669A3;
  font-size: 15px;
  font-family: 'montserratbold',sans-serif; }
  .mapa .texto-primario span {
    color: #BDD44D; }

.nubes {
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 13px; }

.contenido-metroplanes .metroplanes-cuadro {
  padding: 55px; }
.contenido-metroplanes .tabla-metroplanes {
  color: #fff;
  padding: 55px; }

.container {
  max-width: 960px !important;
  width: 960px !important;
  padding-left: 0px !important;
  padding-right: 0px !important; }

.container-all {
  max-width: 960px !important;
  position: relative; }
  .container-all a.pestana {
    position: fixed;
    left: 0;
    z-index: 99; }

.bggray {
  background-color: #EBEBEB;
  padding: 30px 55px 60px 55px; }
  .bggray .texto-caja-bggray {
    width: 100%; }
  .bggray .fotos-row {
    margin-top: 10px; }
    .bggray .fotos-row .imagen-thums {
      border: 4px solid #ffffff;
      margin-bottom: 22px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5); }
      .bggray .fotos-row .imagen-thums img {
        width: 100%; }
    .bggray .fotos-row .btn-primario-fotos {
      background: #BDD44D;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.21);
      border-radius: 5px;
      padding: 15px 35px;
      color: #ffffff;
      display: block;
      width: 100%;
      font-family: 'Roboto',sans-serif;
      font-weight: 800;
      text-align: center; }
      .bggray .fotos-row .btn-primario-fotos:hover {
        text-decoration: none; }

.quienes {
  margin-bottom: 80px; }
  .quienes .caja-quienes {
    width: 35%; }
    .quienes .caja-quienes .titulo-fondo-verde {
      font-family: 'montserratbold',sans-serif;
      color: #fff;
      padding: 10px 5px;
      background-color: #BDD44D;
      font-size: 20px;
      display: inline; }
    .quienes .caja-quienes .titulo-fondo-cyan {
      font-family: 'montserratbold',sans-serif;
      color: #fff;
      padding: 13px 5px;
      margin: 12px 0 35px 0;
      display: inline-block;
      font-size: 20px;
      background-color: #46A1DB; }
  .quienes .color-quienes {
    color: #3669A3;
    font-size: 15px;
    font-family: 'montserratbold', arial; }
  .quienes .textos-quienes {
    font-size: 12px;
    text-align: left;
    font-family: 'montserratlight', arial;
    line-height: 17px;
    color: #9B9B9B; }
