.container {
	max-width: 960px !important;
	width: 960px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.container-all {
	max-width: 960px !important;
	position: relative;
	a.pestana {
		position: fixed;
		left: 0;
		z-index: 99;
	}
}

.bggray {
	background-color: $bg-gray;
	padding: 30px 55px 60px 55px;
	.texto-caja-bggray{
		width: 70%;
	}
	

	.fotos-row{
		margin-top: 10px;

		.imagen-thums{
			border:4px solid $blanco;
			margin-bottom: 22px;
			box-shadow: 0 2px 8px 0 rgba(0,0,0,0.50);
			img{
				width: 100%;
			}
		}
		.btn-primario-fotos {
			background: #BDD44D;
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.21);
			border-radius: 5px;
			padding: 15px 35px;
			color: #ffffff;
			display: block;
			width: 100%;
			font-family: 'Roboto',sans-serif;
			font-weight: 800;
			text-align: center;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.quienes {
	
	padding:55px;
	.caja-quienes{
		width: 35%;
		.titulo-fondo-verde{
			font-family:'montserratbold',sans-serif;
			color:#fff;
			padding:10px 5px;
			background-color: $color-verde-claro;
			font-size: 20px;
			display: inline;
		}
		.titulo-fondo-cyan{
			font-family:'montserratbold',sans-serif;
			color:#fff;
			padding:13px 5px;
			margin:12px 0 35px 0;
			display: inline-block;
			font-size: 20px;
			background-color: $color-celeste;
		}
	}
	.color-quienes {
		color: $color-texto-titulos;
		font-size: 15px;
		font-family: 'montserratbold', arial;
	}
	.box-textos-quienes{
		width: 350px;
		margin-top: 25px;
	} 
	.textos-quienes{
		font-size: 12px;
		text-align: left;
		font-family: 'montserratlight', arial;
		line-height: 17px;
		color:$color-texto-parrafos;
	}		
}

.espace {
	margin:55px 0;
}

.content-one, .content-two{
	.volante {
		.closer-a,
		.closer-b {
			background-color: $color-footer;
			padding: 10px 20px;
			color: $blanco;
			display: block !important;
			clear: both;
			text-align: center;
			width: 15%;
			margin: 10px auto 10px auto;
			border-radius:5px;
			text-decoration: none;
			margin-bottom: 30px;
		}
	}
} 