.antetitulo{
	font-family:'montserratblack',sans-serif;
	color:$color-antetitulo;
	font-size:12px;
	border-bottom: 1px solid $color-antetitulo;
	margin: 15px 0 30px 0;
	padding-bottom:10px;
}
.antetitulo-foto{
	font-family:'montserratblack',sans-serif;
	color:$blanco;
	font-size:12px;
	border-bottom: 1px solid $blanco;
	margin: 15px 0 30px 0;
	padding-bottom:10px;
}

.metroplanes,.metroplan,.header,.concept,.video,.mapa,.video-left,.seguridad,.contacto,.contenido-metroplanes,.tarifas,.pagos{
	.texto-primario{
		font-family:'montserratlight',sans-serif;
		color:$color-texto-parrafos;
		margin-bottom:25px;
		font-size: 12px;
	}
	.texto-primario-blanco{
		font-family:'montserratlight',sans-serif;
		color:$blanco;
		margin-bottom:25px;
		font-size: 12px;
	}
	.texto-seguridad{
		font-family:'montserratlight',sans-serif;
		color:$blanco;
		margin-bottom:25px;
		font-size: 15px;
	}
	.titulo-fondo-verde{
		font-family:'montserratbold',sans-serif;
		color:#fff;
		padding:10px 5px;
		background-color: $color-verde-claro;
		font-size: 20px;
		display: inline;
	}
	.titulo-fondo-cyan{
		font-family:'montserratbold',sans-serif;
		color:#fff;
		padding:10px 5px;
		margin:12px 0 35px 0;
		display: inline-block;
		font-size: 20px;
		background-color: $color-celeste;
	}
	.texto-legal{
		font-family:'montserratlight',sans-serif;
		color:$color-texto-parrafos;
		margin-bottom:25px;
		font-size: 9px;
	}
	/* botones */
	.btn-primario{
		background: #BDD44D;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.21);
		border-radius: 5px;
		padding:15px 35px;
		color:$blanco;
	}
	input[type="submit"].btn-enviar{
		background: none;
   		 border: 0;
    	color: inherit;
		background: #BDD44D;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.21);
		border-radius: 5px;
		padding:5px 35px;
		color:$blanco;
	}
}

.mapa{
	.texto-primario{
		color:$color-texto-titulos;
		font-size: 15px;
		font-family:'montserratbold',sans-serif;
		span{
			color:$color-verde;
		}
	}
}
.nubes{
	color:$blanco;
	font-family:'Montserrat';
	font-size:13px;
}
.contenido-metroplanes{
	.metroplanes-cuadro{
		padding:55px;

	}
	.tabla-metroplanes{
		color: #fff;
		padding:55px;
	}
}