

.concept {

	.concept-foto, 
	.section-texto {
		height: auto;
		float: left;
	} 
	.concept-foto {
		img {
			display: block;
		}
	}
	.section-texto {
		padding: 10px 57px;
		.sector {
			margin-top:80px
		} 
	}
} 

.nubes {
	background: $color-footer url(../img/bg-nubes.png) no-repeat;
	.nubes-block{
		// width: 850px;
		// height: auto;
		// margin:0 auto;
		padding: 55px;
	}

	.line-box-box {
		margin-top: 77px;
		.line-box,.line-box.nb {
			.line-box-item-titulo{
				background-color: $color-verde-claro;
				color:$blanco;
				text-align: center;
				height: 45px;
				line-height: 45px;
			}
		} 
		.line-box {

		}
		.line-box.nb {
			margin-right: 0;
		}

		.line-box-item-texto {
			background-color: $color-azul-caja;
			padding: 24px 22px;
		}
	} 
} 



.video{
	img{
		width: 100%;
	}
	.texto-caja{
	    padding: 10px 57px;
	    margin-top: 70px;
	} 
} 


.mapa {
	#mapa {
		img {
			width: 100%;
		}
	}
}

.video-left {
	// .video-left-video,
	// .video-left-texto {
	// 	width: 480px;
	// 	height: auto;
	// 	float: left;
	// }
	// .video-left-texto {
	// 	.video-left-texto-center {
	// 		width: 352px;
	// 		margin: 55px auto 0 auto;
	// 	} 
	// } 
	img{
		width: 100%;
	} 

	.video-left-texto-center{
		padding: 10px 45px 10px 31px;
		margin-top: 50px;
	}	    
}


.seguridad {
	background: $color-footer url(../img/bg-nubes.png) no-repeat;

	.seguridad-block {
		// width: 850px;
		padding: 55px;

		.texto-seguridad,
		.texto-seguridad-img {

		}

		.texto-seguridad-img {
			text-align: right;
		}
	}
}

.metroplanes {
	padding: 55px 55px 0px 55px;
	.bgc {
		background-color: $color-footer;
	}
	.metroplanes-box {
		padding: 55px 50px;
		.box-metroplanes {
			position: relative;
			&:after {
				content: "";
				width: 1px;
				position: absolute;
				background:red;
				height: 100%;
				top: 10px;
				left: 50%;
			}

		}
	}


	.data-metroplan {
		margin-top: 55px;
	}

}//fin


.contenido-metroplanes{
	ul.items-metroplanes{
		margin: 0;
		padding: 0;
		width: 80%;
		float: right;
		li {
			display: block;
			color:$color-texto-parrafos;
			font-size: 12px;
			font-family: 'montserratregular', arial;
			margin-bottom: 16px;
		}
		.ico-1 {
			background: url(../img/icon-1.jpg) no-repeat left center;
			padding-left: 48px;
			height: 38px;
			line-height: 16px;
		}
		.ico-2 {
			background: url(../img/icon-2.jpg) no-repeat left center;
			padding-left: 48px;
			height: 38px;
			line-height: 38px;
		}
		.ico-3 {
			background: url(../img/icon-3.jpg) no-repeat left center;
			padding-left: 48px;
			height: 38px;
			line-height: 38px;
		}
		.ico-4 {
			background: url(../img/icon-4.jpg) no-repeat left center;
			padding-left: 48px;
			height: 38px;
			line-height: 38px;
		}
		.ico-5 {
			background: url(../img/icon-5.jpg) no-repeat left center;
			padding-left: 48px;
			height: 38px;
			line-height: 38px;
		}
	}
} 

.fluid-gray{
	background-color: $bg-gray;
	.caja-tabla{
		border:3px solid $blanco;
		h2{
			color:$color-footer;
			font-family: 'montserratbold', arial;
			text-align: center;
			font-size: 25px;
			margin: 45px auto;
			width: 50%;
		}
		table {
			width: 95%;
			margin: 0 auto;
			border-radius: 10px;
			.cab{
				background-color:$color-verde;
			}
		}
	}
}




.pagos {
	.listas-pago {
		padding: 25px 30px;
		border:1px solid $color-footer;
		.titulo-lista{}
	}
} 

