doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //-meta(name='viewport', content='width=device-width, initial-scale=1')
    //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Bootstrap
    //- Bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/styles.css', rel='stylesheet')
    link(href='css/font-awesome.min.css', rel='stylesheet')
    //- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //- WARNING: Respond.js doesn't work if you view the page via file://
    //-if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .container
        a(href="#myAnchor" rel="" id="anchor1" class="anchorLink").tab-fixed Conoce nuestros planes
        section.header
            .row
                .caja.col-sm-12
                    p.antetitulo-foto Metrogas en la zona sur
            .row
                .caja.col-sm-6
                    h1.titulo-fondo-verde En Puerto Montt
                    h1.titulo-fondo-cyan Metrogas te conviene
        section.concept
            .row
                .col-sm-6
                    .concept-foto
                        img(src="img/02.jpg", alt="Desde hace 20 años expertos en gas natural")
                .col-sm-6
                    .section-texto
                        p.antetitulo ¿Quiénes somos?
                        .sector
                            h1.titulo-fondo-verde Desde hace 20 años 
                            h1.titulo-fondo-cyan expertos en gas natural   
                            p.texto-primario Hoy abastecemos a más de <span>3 millones</span> de personas en la zona central. 
                            p.texto-primario Y por 13 años consecutivos hemos sido distinguidos por nuestros clientes con el premio <span>Calidad de Servicio.</span> 
                            p.texto-primario Estamos comprometidos con la calidad de vida de nuestros clientes. 
        section.nubes
            .nubes-block
                p.antetitulo-foto En Metrogas queremos un nuevo aire para el sur de Chile

                h2 Conéctate y disfruta los beneficios y conveniencia del gas natural:
                .beneficios.row
                    .beneficios-item.col-sm-4
                        img.pull-left.imgM(src="img/icon-365.png", alt="")
                        .beneBox
                            h3 continuo
                            p Contarás con gas natural los 365 días del año. Olvídate de quedarte sin gas, esperar o llamar para que te lo lleven.
                    .beneficios-item.col-sm-4
                        img.pull-left.imgM(src="img/icon-money.png", alt="")
                        .beneBox
                            h3 conveniente
                            p Contamos con distintos planes que te permiten pagar un precio fijo mensual y disfrutar de todos sus beneficios.
                    .beneficios-item.col-sm-4
                        img.pull-left.imgM(src="img/icon-planta.png", alt="")
                        .beneBox
                            h3 natural
                            p Es una energía menos contaminante que otros combustibles y además es libre de contaminación intradomiciliaria.
                h3.text-center.centroNatural El gas natural mejora tu calidad de <span>vida y el aire</span> de tu ciudad
                p.texto-primario-blanco.text-center.fz El <span>gas natural</span> es una mezcla de gases livianos sobre la base de metano, proveniente de un proceso natural en napas subterráneas de diversas partes del mundo. El gas natural no tiene monóxido de carbono y es el combustible fósil que genera las menores emisiones de dióxido de carbono, contribuyendo de esta forma a disminuir el calentamiento global y también disminuir los índices de contaminación al interior de tu hogar. 
                .line-box-box.row
                    .line-box.col-sm-4
                        .line-box-item
                            .line-box-item-titulo
                                p Más liviano que el aire
                            .line-box-item-texto
                                p En caso de fuga se disipa en la atmósfera disminuyendo el peligro de explosión y es menos inflamable.
                    .line-box.col-sm-4
                        .line-box-item
                            .line-box-item-titulo
                                p Puro
                            .line-box-item-texto
                                p Alarga la vida útil de los artefactos ya que su combustión completa no deja residuo.
                    .line-box.col-sm-4
                        .line-box-item
                            .line-box-item-titulo
                                p No es tóxico
                            .line-box-item-texto
                                p No produce intoxicación en caso de escape.

        section.video
            .row
                .col-sm-6.texto-caja
                    h1.titulo-fondo-verde ¿Cómo llega el gas natural de 
                    h1.titulo-fondo-cyan metrogas a puerto montt?
                    p.texto-primario El <strong>gas natural</strong> que llega a Chile proviene de distintas partes del mundo, para lo cual se utiliza tecnología de vanguardia que permite su traslado por mar y tierra hasta tu ciudad. 

                    p.texto-primario Revisa en este video para conocer más sobre el viaje el gas natural. 
                .col-sm-6
                    img(src="img/play.jpg", alt="") 
        section.mapa
            .mapa-caja
                p.antetitulo Más cerca de ti
                .row
                    .col-sm-9
                        h1.titulo-fondo-verde Zonas donde se encontrará disponible la conexión a       
                        h1.titulo-fondo-cyan nuestra red de gas natural
                .row
                    .col-sm-6
                        p.texto-primario En una primera etapa los  sectores beneficiados con la llegada del gas natural de Metrogas serán <span>Valle Los Volcanes y Mirador de Bahía.</span>

                #mapa
                    img(src="img/mapa.jpg", alt="Poligonos Puerto Montt")

        section.video-left
            .row
                .video-left-video.col-sm-6
                    img(src="img/play.jpg", alt="")
                .video-left-texto.col-sm-6
                    .video-left-texto-center
                        h1.titulo-fondo-verde ¿Cómo trabajamos en tu 
                        h1.titulo-fondo-cyan sector y en tu casa?
                        p.texto-primario Tras la obtención de la concesión y los respectivos permisos municipales, se realiza una inspección del terreno para conocer su estado y la existencia de otros servicios. 

                        p.texto-primario Al iniciar las obras civiles de construcción, comienza la instalación red de gas natural con empalmes a clientes contratados. Luego,  se realizan los arreglos de todas las zonas intervenidas,  para que queden en similares condiciones a como se encontraba antes del inicio de los trabajos.

                        p.texto-primario Con el fin de garantizar la seguridad, se realizan prueba de hermeticidad y gasificación, lo que permite comenzar el suministro de gas natural. 
        section.bloque-seguridad
            .block-seguridad
                .row
                    .col-sm-6
                        p.antetitulo-foto Metrogas es seguridad
                        p.texto-seguridad.lh Velamos por el <span>bienestar</span> de nuestros clientes y de la toda la comunidad, por ello la <span>seguridad</span> es una de las prioridades de nuestra empresa.

                        ul.texto-primario-blanco
                            li Todas las redes y válvulas se instalan de forma subterránea. Estos materiales cumplen los <span>estándares a nivel mundial.</span> Prueba de ello es que en el terremoto de la zona central en 2010 no se produjeron problemas de fuga.
                            li El gas natural no <span>requiere almacenamiento</span>, lo que evita pérdida de espacio y la entrada de extraños al hogar para el despacho de cilindros o relleno de estanques.
                            li Una casa con gas natural es <span>más segura</span>, ya que al conectarse a nuestra red cumple con la normativa que establece la Superintendencia de Electricidad y Combustible (SEC).
                            li Ubicamos la planta satélite de regasificación (PSR) en una zona industrial segura, no inundable en caso de Tsunami. 
                            li Contamos con <span>protocolos de emergencia con Bomberos y Carabineros</span> con un canal de comunicación, con el fin de dar prioridad a dichos llamados en caso de emergencia.
                    .col-sm-6
                        //- img(src="img/seguridad.jpg", alt="Metrogas es Seguridad")
                        .imagen-pos
                            


     
        section.metroplanes#myAnchor
            p.antetitulo Conéctate a la conveniencia del gas natural Metrogas.
            .row
                .col-sm-8
                    h1.titulo-fondo-verde Conoce nuestros planes
                    h1.titulo-fondo-cyan Tenemos la mejor alternativa para tu hogar

            .row.bgc
                .metroplanes-box.col-sm-6
                    .box-metroplanes
                        .logs-metro
                            img(src="img/metroplan.png", alt="Metroplan")
                        p.texto-primario-blanco Con los Metroplanes pagas un plan fijo mensual, además incluye m3 adicionales por si te pasas del plan. Es ideal para quienes no quieren gastar de más.
                        p.texto-primario-blanco Al contratarlo aprovecha esta increíble promoción.
                        
                        .box-metroplanes-planes.texto-primario-blanco
                            p Incluye
                            ul.plans
                                li.arrow Conexión Gratis <span>hasta</span> $510.000
                                li.arrowB
                                    img(src="img/icon-ecowood.png", alt="") 
                                    p eco<span>wood</span> 
                                li.gifcardL giftcard <span class="calefa">calefacción</span> $89.700
                            .clearfix
                        a.btn-primario.expand-one(href="#") Conoce Metroplanes
                .metroplanes-box.col-sm-6
                    .box-metroplanes
                        .logs-metro
                            img(src="img/planflexible.png", alt="planflexible")
                        p.texto-primario-blanco.text-center Con este plan pagas lo que consumes con tarifa residencial. Es ideal para familias que no tienen un gasto fijo en gas natural.<br><br>
                        p.texto-primario-blanco.text-center Al contratarlo aprovecha esta increíble promoción.
                        <br>
                        
                        .box-metroplanes-planes.texto-primario-blanco
                            p Incluye
                            ul.plans
                                li.arrow Conexión Gratis <span>hasta</span> $510.000
                                li.arrowB
                                    img(src="img/icon-ecowood.png", alt="") 
                                    p eco<span>wood</span> 
                                li.gifcardL giftcard <span class="calefa">calefacción</span> $89.700
                            .clearfix
                        a.btn-primario.expand-two(href="#") Conoce Metroplanes
        //- .content-one(style="display:none;")
        //-     p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ullam, officiis voluptates, quaerat consequuntur provident voluptas labore perferendis facere natus sit architecto rerum! Possimus laudantium, earum doloribus impedit fuga fugit!
        //-     a.closer-a(href="#") cerrar
        //- .content-two(style="display:none;")
        //-     p  Gordo  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quod iure aperiam eaque odit consectetur a ex optio nulla, neque dicta modi non, quaerat omnis. Commodi cupiditate optio dolorem repellendus!
        //-     a.closer-b(href="#") cerrar
        section.contenido-metroplanes.content-one(style="display:none;")
            .metroplanes-cuadro
                .row
                    .data-metroplan
                        p.antetitulo Metroplanes
                .row
                    .col-sm-6  
                        h1.titulo-fondo-verde Descubre los Metroplanes
                        h1.titulo-fondo-cyan y elige el que más te acomode
                        p.texto-primario Los Metroplanes consisten en contratar por un cargo fijo mensual una cantidad de metros cúbicos de gas natural determinados, que además vienen con metros cúbicos adicionales de regalo, por si te pasas del plan.

                        p.texto-primario Existen varios Metroplanes para que elijas el que más se ajuste a tu consumo y no te salgas de tu presupuesto para el gas



                            
                    .col-sm-6  
                       ul.items-metroplanes
                        li.ico-1 Ahorra hasta un 30% en comparación al gas licuado medidor (GLM).
                        li.ico-2 Controlas tu gasto en gas, sabiendo lo que vas a pagar.
                        li.ico-3 Obtén un plan fijo durante 12 meses.
                        li.ico-4 Recibes m3 gratis por si te pasas del plan.
                        li.ico-5 No pagas cargo fijo por 12 meses.
            .container-fluid.fluid-gray
                .row.tabla-metroplanes
                    .col-sm-12.nopadding
                        .caja-tabla
                            h2.subtitulo-uno Elige y contrata el Metroplan que más te acomode
                            table(border="1" cellpadding="0" cellspacing="0").table
                                tr.cab
                                    th.primero Metroplanes
                                    th m<sup>3</sup>
                                    th Valor
                                    th Valor x m<sup>3</sup> Plan
                                    th Aporte m<sup>3</sup> <span> anuales <br>adicionales</span>
                                    th.ultimo Valor <sup>3</sup> adicional <br> <span>al Plan</span>
                                tr
                                    td Metroplan 20
                                    td 20
                                    td $ 15.900
                                    td $ 765
                                    td 20
                                    td $ 765
                                tr
                                    td Metroplan 20
                                    td 20
                                    td $ 15.900
                                    td $ 765
                                    td 20
                                    td $ 765
                                tr
                                    td Metroplan 20
                                    td 20
                                    td $ 15.900
                                    td $ 765
                                    td 20
                                    td $ 765
                            h3.texto-prevolante Contrata ahora tu Metroplan <br> y aprovecha esta increíble promoción.
                            .volante
                                img(src="img/volante.jpg", alt="") 
        section.contenido-metroplanes.content-two(style="display:none;")
            .metroplanes-cuadro
                .row
                    .data-metroplan
                        p.antetitulo Tarifa Flexible
                .row
                    .col-sm-6  
                        h1.titulo-fondo-verde Conéctate con la comodidad 

                        h1.titulo-fondo-cyan del Plan Flexible
                        p.texto-primario El plan flexible, que consiste en contratar el servicio de gas natural con tarifa residencial vigente de la zona es ideal para aquellas familias que no tienen un consumo fijo de gas natural y quieren pagar solo lo que consumen, y prefieren no contar con contratos.
                    .col-sm-6  
                       ul.items-metroplanes
                        li.ico-1 Ahorra hasta un 30% en comparación al gas licuado medidor (GLM).
                        li.ico-2 Controlas tu gasto en gas, sabiendo lo que vas a pagar.
                        li.ico-3 Obtén un plan fijo durante 12 meses.
                        li.ico-4 Recibes m3 gratis por si te pasas del plan.
                        li.ico-5 No pagas cargo fijo por 12 meses.
            .container-fluid.fluid-gray
                .row.tabla-metroplanes
                    .col-sm-12.nopadding
                        .caja-tabla
                            h3.subtitulo-uno Conéctate a Metrogas y aprovecha <br> esta increíble promoción:
                            .volante
                                img(src="img/volante2.jpg", alt="")
                                
        section.contacto
            .container-fluid.caja-contacto
                p.antetitulo-foto Contáctanos
                .row
                    .col-sm-10
                        h1.titulo-fondo-verde Si estás interesado en alguno de nuestros planes o 
                        h1.titulo-fondo-cyan quieres más información
                .row
                    .col-sm-5
                        p.texto-primario-blanco Si estas interesado en cambiarte a Metrogas y quieres mas información ingresa tus datos y te contactaremos a la brevedad
                .contenedor-form
                    form
                        .col-sm-12
                            input(type="text", placeholder="Nombre")
                        .col-sm-12
                            input(type="text", placeholder="Apellido")
                        .col-sm-12
                            input(type="text", placeholder="Teléfono")
                        .col-sm-12
                            input(type="text", placeholder="Email")
                        .col-sm-12
                            input(type="text", placeholder="Dirección")
                        .col-sm-12
                            input(type="submit", value="enviar", class="btn-enviar")
        section.tarifas
            .caja-tarifas
                p.antetitulo Nuestras tarifas
                .row
                    .col-sm-4
                        h1.titulo-fondo-verde Conoce las tarifas
                        h1.titulo-fondo-cyan según tramo de conexión
                .caja-tablas
                    .row
                        .col-sm-4
                            table(border="0" cellpadding="0" cellspacing="0").table
                                tr
                                    th.primero Tramos en m3
                                tr
                                    td de 0 a 5
                                tr
                                    td de 5 a 10
                                tr
                                    td de 10 a 25
                                tr
                                    td de 25 a 40
                                tr
                                    td de 40 a 60
                                tr
                                    td de 130 a 170
                                tr
                                    td de 170 a 700
                                tr
                                    td de 700 a 900
                                tr
                                    td de 900 o más
                                tr
                                    td de 0 a5

                        .col-sm-4
                            table.table
                                tr
                                    th.primero Valor por m3S
                                tr
                                    td $ 1.146
                                tr
                                    td $ 906
                                tr
                                    td $ 904
                                tr
                                    td $ 612
                                tr
                                    td $ 294
                                tr
                                    td $ 628
                                tr
                                    td $ 629
                                tr
                                    td $ 628
                                tr
                                    td $ 527
                                tr
                                    td $ 607
                                

                        .col-sm-4
                            table.table
                                tr
                                    th.primero Costo por Tramo

                                tr
                                    td de $0 a $5.730

                                tr
                                    td de $5.730 a $10.260

                                tr
                                    td de $10.260 a $23.820

                                tr
                                    td de $23.820 a $33.000

                                tr
                                    td de $33.000 a $38.880

                                tr
                                    td de $38.880 a $82.840

                                tr
                                    td de $82.840 a $108.000

                                tr
                                    td de $108.000 a $440.839

                                tr
                                    td de $440.839 a $546.240
                                tr
                                    td de de $546.240 o más

                               

                p.texto-legal La presente tarifa es escalonada y aplicable para consumos de 30 días en m3S, y no refleja los cambios de tarifas durante un periodo de facturación.  En caso de cambio de tarifas durante un periodo de facturación, se utiliza una tarifa equivalente para el periodo, promediando en forma ponderada cada tarifa sobre la base del número de días de vigencia de cada una de ellas en el periodo correspondiente. Artículo 50° del Decreto N° 67/2004, de Economía, que aprueba el Reglamento de Servicio de Gas de Red. m3S: Unidad de medida que corresponde a metros cúbicos estándar (medidos a 15ºC y a una presión de 101,325 kPa), considerando un poder calorífico nominal de  9.300  kca/m3S y un período de 30 días. Valores indicados incluyen IVA. Mes: Se considera como mes a un período de 30 días.

        section.pagos
            .caja-pagos
                p.antetitulo Centros de pago
                .row
                    .col-sm-4
                        .listas-pago
                            p.titulo-lista PAGO PRESENCIAL
                            ul.presencial
                                li Oficina comercial de Metrogas
                                li ServiEstado y Caja Vecina (2) 
                                li Unired (Caja Unimarc) (4)
                                li Servipag Express (4)
                                li Sencillito (4)
                                li Servipag Ventanillas (5)
                                li Servifácil (Cajas Líder) (6)
                            ul.listarespuesta
                                li (1) Pago con efectivo, tarjetas de crédito y débito bancarias
                                li (2) ServiEstado: Pago con cheque o efectivo y medios de pago BancoEstado. Caja Vecina: Pago solo con efectivo y medios de pago BancoEstado
                                li (3) Pago con cheque, tarjeta de crédito y débito bancarias
                                li (4) Pago sólo con efectivo 
                                li (5) Pago efectivo - Cheque - Tarjetas Cencosud- Johnsons
                                li (6) Pago efectivo - Tarjetas Presto.
                    .col-sm-4
                        .listas-pago.column
                            p.titulo-lista PAGO POR INTERNET
                            ul.internet
                                li: a(href="http://www.metrogas.cl", target="_blank") www.metrogas.cl*
                                li: a(href="http://www.santander.cl", target="_blank") www.santander.cl*
                                li: a(href="http://www.bancoestado.cl", target="_blank") www.bancoestado.cl*
                                li: a(href="http://www.presto.cl", target="_blank") www.presto.cl*
                                li: a(href="http://www.servipag.com", target="_blank") www.servipag.com*
                    .col-sm-4
                        .listas-pago
                            p.titulo-lista PAGO AUTOMÁTICO
                            ul.automatico
                                li Banco Santander
                                li Banco de Chile
                                li Banco Estado
                                li Banco Falabella
                                li Banco BCI
                                li Banco CorpBanca
                                li Banco Itaú
                                li Banco Security
                                li Banco Scotiabank
                                li Banco BICE
                                li Banco BBVA
                                li Tarjeta de Crédito Bancaria (PAT):
                                li: a.links-automata(href="http://www.metrogas.cl", target="_blank") www.metrogas.cl*
                                li: a.links-automata(href="http://www.santander.cl", target="_blank") www.santander.cl
                                li: a.links-automata(href="http://www.bancoestado.cl", target="_blank") www.bancoestado.cl
                                li: a.links-automata(href="http://www.presto.cl", target="_blank") www.presto.cl
                                li: a.links-automata(href="http://www.servipag.com", target="_blank") www.servipag.com
            
            p.texto-legal Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.Donec sed odio dui. presente tarifa es escalonada y aplicable para consumos de 30 días en m3S, y no refleja los cambios de tarifas durante un periodo de facturación.  En caso de cambio de tarifas durante un periodo de facturación, se utiliza una tarifa equivalente para el periodo, promediando en forma ponderada cada tarifa sobre la base del número de días de vigencia de cada una de ellas en el periodo correspondiente. Artículo 50° del Decreto N° 67/2004, de Economía, que aprueba el Reglamento de Servicio de Gas de Red. m3S: Unidad de medida que corresponde a metros ckca/m3S y un período de 30 días. Valores indicados incluyen IVA. Mes: Se considera como mes a un período de 30 días.La presente tarifa es escalonada y aplicable para consumos de 30 días en m3S, y no refleja los cambios de tarifas durante un periodo de facturación.  En caso de cambio de tarifas durante un periodo de facturación, se utiliza una tarifa equivalente para el periodo, promediando en forma ponderada cada tarifa sobre la base del número de días de vigencia de cada una de ellas en el periodo correspondiente. Artículo 50° del Decreto N° 67/2004, de Economía, que aprueba el Reglamento de Servicio de Gas de Red. m3S: Unidad de medida que corresponde a metros cúbicos estándar (medidos a 15ºC y a una presión de 101,325 kPa), considerando un poder calorífico nominal de  9.300  kca/m3S y un período de 30 días. Valores indicados incluyen IVA. Mes: Se considera como mes a un período de 30 días.La presente tarifa es escalonada y aplicable para consumos de 30 días en m3S, y no refleja los cambios de tarifas durante un periodo de facturación.  En caso de cambio de tarifas durante un periodo de facturación, se utiliza una tarifa equivalente para el periodo, promediando en forma ponderada cada tarifa sobre la base del número de días de vi


        //-                 h3 Contrata ahora tu Metroplan y aprovecha esta increíble promoción.
        //-                 .data
        //-                     h1 obtén <span>CONEXIÓN GRATIS</span>
        //-                     p hasta
        //-                     p.precio $ 510.000 <sup>(2)</sup>
        //-                     span para conexion, conversion de artefactos y certificacion TC6
        //-                     .box-adicional
        //-                         .box-adicional-metro
        //-                             | m<sup>3</sup>
        //-                         .box-adicional-texto
        //-                             p adicionales anuales por si te pasas del plan.
        //-                     .oferta-lanzamiento
        //-                         p ¡Oferta Lanzamiento! 
        //-                             span Para que disfrutes...
        //-                     .combo-estufa-giftcard
        //-                         .combo-estufa-giftcard-img
        //-                             .estufa
        //-                                 img(src="img/estufas", alt="")
        //-                             .gratis
        //-                         .combo-estufa-giftcard-precio
        //-                             .img-giftcard
        //-                                 img(src="giftcard.png", alt="")
        //-                             p una giftcard 150m3 valor referencial
        //-                             p.total $ 92.550
        //-                                 span de gas natural para consumo calefacción.
        //-                     .aprovecha-regalo
        //-                         p Aprovecha este regalo
        //-                             span Valorado en
        //-                         .aprovecha-valor
        //-                             p $ 452.540

        //- section.contacto
        //-     p.antetitulo Contáctanos
        //-     h1.titulo-fondo-verde Si estás interesado en alguno de nuestros planes o <span>quieres más información</span>

        //-     p.texto-primario Si estas interesado en cambiarte a Metrogas y quieres mas información ingresa tus datos y te contactaremos a la brevedad

        //-     form
        //-         input(type="text", placeholder="Nombre")
        //-         input(type="text", placeholder="Apellido")
        //-         input(type="text", placeholder="Teléfono")
        //-         input(type="text", placeholder="Email")
        //-         input(type="text", placeholder="Dirección")
        //-         input(type="submit", value="enviar")


    //- jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="js/jadra.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    //- Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')
    script(src='js/js.js')