@import url('https://fonts.googleapis.com/css?family=Khand|Roboto|Source+Sans+Pro');

//estilos generales

//color
$color-azul-caja:	#305D91;
$color-verde:		#BDD44D;
$color-celeste:		#46A1DB;
$color-azul:		#3E79BD;
$color-footer:		#3669A3;
$color-rosa:		#FF6193;
$color-mora:		#9468BA;
$color-verde-claro:	#BDD44D;
$color-naranjo:		#F6A623;
$blanco:			#ffffff;

$color-texto-titulos: 		#3669A3;
$color-texto-parrafos: 		#9B9B9B;


  @import "sass/fonts";
  @import "sass/reset";
  @import "sass/menu";
  @import "sass/header";
  @import "sass/footer";
  @import "sass/main";
  @import "sass/jadra";
  @import "sass/charls";


